{{ partial "header.html" . }}




{{ if .IsHome }}
    <!--TODO: replace with faster search-->
    {{ if not .Site.Params.noSearch }}
        {{ partial "search-form.html" . }}
        <ul id="results"></ul>
    {{ end }}

    {{ range .Sections }}
        <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
        {{ .CurrentSection.Content }}
        {{ partial "post_list.html" . }}
    {{ end }}
{{ else }}
    {{ if not .Site.Params.noSearch }}
        {{ partial "search-form.html" . }}
        <ul id="results"></ul>
    {{ end }}
    <h2 class="section-title">{{ .CurrentSection.Title }}</h2>

    <div class="home-content">{{ .Content }}</div>

    {{ if not .Params.noList }}
        {{ partial "post_list.html" . }}
    {{ end }}

{{ end }}



{{ partial "footer.html" . }}
