.menu {
  padding: 0px 4px 0px 0px;
  z-index: 9999;
  text-align: left;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
  list-style:none;
  /* background:green; */
  height:24px;
}

.menu li {
  /* display: inline-block; */
  display: grid;
  place-items: center;
  height:inherit;
}

.menu li svg {
  height:18px;
  display:block;
  /* background:red; */
}
.menu a {
  margin-right: 1.1em;
  height:inherit;
  display:block;
  text-decoration: none;
  vertical-align: middle;
  /* border-radius: 5px; */
  /* background:red; */
}

.menu a:visited {
  color: var(--link);
}

.menu a:hover {
  text-decoration: underline;
}

