{{ partial "header.html" . }}

<main class="home">
  {{ if not .Site.Params.noSearch }}
    {{ partial "search-form.html" . }}
  {{ end }}
  <div>{{ .Content }}</div>

  <div class="category-grid">
    {{ range .Params.article_categories }}
    <div class="category-section">
      <h2 class="name">{{ .name }}
        {{ with .desc }}
        <span class="desc">{{ . }}</span>
        {{ end }}
      </h2>

      {{ if .children }}
      <div class="subcategory-grid">
        {{ range .children }}
        <div class="subcategory-card">
          <a href="{{ .link }}">
            {{ if strings.Contains .icon ":" }}
            {{ printf "<iconify-icon icon=\"%s\"></iconify-icon>" .icon | safeHTML }}
            {{ else }}
            <img src="{{ .icon }}" alt="{{ .name }}" />
            {{ end }}
            <span>{{ .name }}</span>

          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>


    {{ end }}

    <div class="category-section">
      <h2 class="name">最近提交文章列表</h2>
      <ul class="post-list">

        {{ range first (or .Site.Params.recent_post_count 10) .Site.RegularPages }}
        {{ partial "post_row.html" . }}
        {{ end }}
      </ul>
    </div>

    <div class="category-section">
      <h2 class="name">友链
        <span class="desc">通过我的  <a href="mailto:{{ .Site.Params.mail }}">📧email</a> 交换友链</span>
      </h2>
      <ul class="friend-list">
        {{ range .Site.Params.friends }}
        <li>
          <a href="{{ .url }}" target="_blank">{{ .name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

  </div>


</main>

<script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
{{ partial "footer.html" . }}